* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html:before { /* Creating an empty element to style in order to create an overlay on top of the background image */
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(51, 51, 51, 0.2);
}

html {
	height: 100%;
	background-size: cover;
}

body {
	background-image: url("../img/mountain.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Architects Daughter';
	line-height: 1.6;
	color: #ffffff;
	position: relative;	/* To put text on top of the overlay */
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

h1, h2 {
    text-shadow: 3px 3px 5px #e6e6e6;
}

p {
	font-size: 1em;
	margin-bottom: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

li {
	list-style-type: none;
}

/*Settings Styles*/
/* .settings-container {
	height: 500px;
	width: 400px;
	color: rgba(1, 1, 1, 0.1);
} */

.settings {
	align-content: center;
	transform: translateX(-100%);
	transition: transform 0.3s;
}

.settings-open.settings {
	transform: none;
}

input {
	display: block;
    border: none;
    border-radius: 30px;
    padding: 10px 10px 10px 15px;
    margin: 0px 5px;
    font-size: 12px;
    width: 385px;
    height: 30px;
}

button {
	height: 30px;
	width: 70px;
	background: none; /* Removes default background */
	color: #313131;
	border: 1px solid #313131;
	border-radius: 50px;
	font-size: 12px;
	cursor: pointer;
}

form {
	padding-top: 10px;
}

/*Weather Styles*/
.weather-container {
	/*display: flex;
	justify-content: right;
 	align-content: right; */
	top: 0;
	right: 0;
}

.weather {
	width: 40em;
	height: 1px;
	margin-left: auto;
}

/*Greeting Styles*/
.greeting-container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.greeting-and-name {
	display: flex;
	flex-direction: column;
	text-align: center;
    align-items: center;
	padding: 40px 0px 0px 0px;
	font-size: 3em;
}

.greeting {
	font-family: 'Architects Daughter';
	font-size: 60px;
	color: #313131;
}

/*ToDo List Styles*/
.to-do-list {
	display: flex;
	flex-direction: column;
	align-items: center;
    flex: 1 1 auto;
}

ul li {
	width: 600px;
    cursor: pointer;
    position: relative;
    padding: 14px 12px 14px 50px;
    margin: 0px 15px 0px 0px;
    background: rgba(102, 26, 97, 0.8);
    font-size: 16px;
    transition: 0.2s;

    /* Make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:hover {
    background-color: rgba(102, 26, 97, 0.4);
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #ffffff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 14px;
    left: 22px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 20px;
}

.to-do-list-header {
    padding: 30px 40px 10px 40px;
    text-align: center;
	color: #313131;
}

.to-do-list-header:after {
    content: "";
    display: table;
    clear: both;
}

.task-list {
    height: 260px;
    flex: 1 1 auto;
    overflow: auto;
}

li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.input-and-add {
	margin: 30px 15px 30px 0px;
}

.input-and-add-form {
    display: flex;
}

.task-input {
    display: block;
    width: 485px;
    height: 45px;
    border: none;
    border-radius: 30px;
    padding: 10px 10px 10px 25px;
    margin-right: 15px;
    font-size: 16px;
}

.task-input:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #4D90FE;
}

.addBtn {
	display: block;
    padding: 10px;
    width: 100px;
    height: 45px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    color: #ffffff;
}

.addBtn:hover {
    background-color: rgba(102, 26, 97, 0.4);
}	

/*Audio Player Styles*/
audio {
	width: 400px;
}

audio:hover {
	transform: scale(1.05);
}

.audio-position {
	position: absolute;
	bottom: 20px;
	right: 20px;
}